<div class="row d-flex justify-content-center">
  <div class="card my-5 col-md-6">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Deadline</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.title }}</td>
            <td>{{ task.deadline }}</td>
            <td>{{ task.status }}</td>
            <td><button *ngIf="createdByCurrentUser(task)" type="button" class="btn btn-primary">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
